<div class="centralizador">
  <form (ngSubmit)="submit()" [formGroup]="tarefasForm" #FormDir="ngForm">
    <input type="hidden" formControlName="id" />
    <div class="form-row d-flex justify-content-center">
      <div class="col-md-4 mb-3">
        <label for="validationServer01" for="Name">Nome:</label>
        <input
          type="text"
          class="form-control {valid|invalid}-feedback"
          id="validationServer01"
          formControlName="name"
          placeholder="Digite o nome da tarefa"
          required
        />
        <div
          class="{valid|invalid}-feedback"
          *ngIf="name.invalid && FormDir.submitted"
        >
          <p class="validator" *ngIf="name.errors?.['required']">
            O nome é obrigatório!
          </p>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02" for="Status">Status:</label>
        <select
          type="text"
          class="form-control {valid|invalid}-feedback"
          id="validationServer02"
          formControlName="status"
          required
        >
          <option value="" selected>Qual status da sua tarefa?</option>
          <option value="pendente">Pendente</option>
          <option value="em andamento">Em andamento</option>
          <option value="concluída">Concluída</option>
        </select>
        <div
          class="{valid|invalid}-feedback"
          *ngIf="status.invalid && FormDir.submitted"
        >
          <p class="validator" *ngIf="status.errors?.['required']">
            Defina o status da sua tarefa
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <input class="btn btn-dark" type="submit" value="{{ btnText }} " />
    </div>
  </form>
</div>
